name: Deploy AWS Lambda Functions

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Package and Deploy lambda1
        run: |
          zip lambda_function.zip lambda_function.py
          aws lambda update-function-code \
            --function-name MyDevOpsLambda \
            --zip-file fileb://lambda_function.zip

     
